<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Applications</title>
    <link rel="stylesheet" href="/styles.css">
    <script src= "/commonlyUsed.js"></script>
    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script>$(function () { $("#nav-placeholder").load("/nav.html"); });</script>
</head>
<body onload="LoadApplications();">
    <div id="nav-placeholder"></div>
    <a href="client.html">Clients</a>
    <div style="height:500px;overflow:auto;">

        <table id="table_applications">
            <thead>
            <th>Application Name</th>
            <th>App Short Name</th>
            <th>Application Options</th>
            </thead>
            <tr></tr>
        </table>
        <div id="EditApplication" style="display:none">
            <span id="application_uuid" style="display:none"></span><br />
            <table>
                <tr>
                    <td>Name</td>
                    <td><input type="text" id="tb_name" /></td>
                </tr>
                <tr>
                    <td>Short Name</td>
                    <td><input type="text" id="tb_shortName" /></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td><input type="text" id="tb_description" /></td>
                </tr>


            </table>
            <button onclick="commitAddApplication(LoadApplications)" id="btn_AddThisApplication">Add this application</button>
        </div>    
        <button onclick="ShowAddApplication()" id="btn_showNewApplication">Add An application</button><br />
        
        <button onclick="HideAddApplication()" id="btn_Cancel_AddApplication" style="display:none">Cancel Add</button><br />
    </div>



    <script>

        function commitAddApplication(callback) {
            var rowID = $(application_uuid).text();
            var _clientId = getUrlVars()["client"];
           
            var _loggedInAs = "kconners";
            var data = JSON.stringify({
                "name":$(tb_name).val(),
                "shrt_name":$(tb_shortName).val(),
	            "description": $(tb_description).val()
            });

            var xhr = new XMLHttpRequest();
            xhr.open("POST", `/client/${_clientId}/application?loggedInAs=${_loggedInAs}`, false);
            xhr.setRequestHeader("Cache-Control", "no-cache");
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.send(data);

            document.getElementById("tb_name").value = "";
            document.getElementById("tb_shortName").value = "";
            document.getElementById("tb_description").value = "";

            callback();
        };
        function deleteApplication(rowNumber) {
            var rowID = document.getElementById("table_applications").rows[rowNumber + 1].cells[0].innerHTML;
            var data = null;
            var _loggedInAs = "kconners";
            var xhr = new XMLHttpRequest();
            xhr.open("DELETE", `/application/${rowID}?loggedInAs=${_loggedInAs}`, false);
            xhr.setRequestHeader("Cache-Control", "no-cache");
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.addEventListener("readystatechange", function () {
            });
            xhr.send(data);
            
            loadTestCases();
            
        }
        function LoadApplications() {
            $("#table_applications tbody tr").remove();
            var client_idnumber = getUrlVars()["client"];
            var tableRef = document.getElementById('table_applications').getElementsByTagName('tbody')[0];
            var data = null;
            var xhr = new XMLHttpRequest();
            xhr.withCredentials = true;
            xhr.addEventListener("readystatechange", function () {
                if (this.readyState === 4) {
                    var data = JSON.parse(this.responseText);
                    for (var i = 0; i < data.length; i++) {
                        // alert(data.actions[i].action);
                        var _id = data[i].id;
                        var _application = data[i].name;
                        var _short = data[i].shrt_name;
                        var _description = data[i].description;
                        var rowNum = tableRef.rows.length;
                        var newRow = tableRef.insertRow(rowNum);
                        newRow.setAttribute("class", "table_row_" + isOdd(rowNum));
                        var newCell1 = newRow.insertCell(0);
                        var applicationID = document.createTextNode((_id));
                        newCell1.setAttribute("style", "display:none");
                        newCell1.appendChild(applicationID);
                        var newCell2 = newRow.insertCell(1);
                        var applciation_name = document.createTextNode((_application));
                        newCell2.appendChild(applciation_name);
                        var newCell3 = newRow.insertCell(2);
                        var application_sn = document.createTextNode((_short));
                        newCell3.appendChild(application_sn);
                        var newCell4 = newRow.insertCell(3);
                        var a_component = document.createElement("a");
                        a_component.text = "Components";
                        a_component.href = "/ManageApplicationComponents.html?application=" + _id;
                        newCell4.appendChild(a_component);
                        var a_delete = document.createElement("a");
                        a_delete.text = "Delete";
                        a_delete.href = "javascript:deleteApplication(" + rowNum + ",LoadApplications)";
                        newCell4.appendChild(a_delete);
                    }
                }
            });
            xhr.open("GET", "/client/" + client_idnumber + "/application");
            xhr.setRequestHeader("cache-control", "no-cache");
            xhr.send(data);
        }
        function ShowAddApplication() {
        //    clearTestCaseFields();
            $('#EditApplication').css('display', 'block');
            $('#btn_Cancel_AddApplication').css('display', 'block');
            $('#btn_showNewApplication').css('display', 'none');
            setUUID();
        }
    </script>

</body>
</html>