<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Pages</title>
    <link rel="stylesheet" href="/styles.css">
    <script src= "/commonlyUsed.js"></script>
    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script>$(function () { $("#nav-placeholder").load("/nav.html"); });</script>
</head>

<body onload="loadPages();">
    <div id="nav-placeholder"></div>
    <a href="../views/ManageApplicationComponents.html" id="nav_back">Components</a>
    <div style="height:500px;overflow:auto;">
        <table id="table_pages">
            <thead>
            <th>Name</th>
            <th>Short Name</th>
            <th>Description</th>
            <th>Options</th>
            </thead>
            <tr></tr>
        </table>
        <div id="EditItem" style="display:none">
            <span id="item_uuid" style="display:none"></span><br />
            <table>
                <tr>
                    <td>Name</td>
                    <td><input type="text" id="tb_name" /></td>
                </tr>
                <tr>
                    <td>Short Name</td>
                    <td><input type="text" id="tb_shortName" /></td>
                </tr>
                <tr>
                    <td>Route</td>
                    <td><input type="text" id="tb_route" /></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td><input type="text" id="tb_description" /></td>
                </tr>


            </table>
            <button onclick="commitAddItem(loadPages)" id="btn_AddThisItem">Add this page</button>
        </div>    
        <button onclick="ShowAddItem()" id="btn_showNewComponent">Add A Component</button><br />
        
        <button onclick="hideAddItem()" id="btn_Cancel_AddItem" style="display:none">Cancel Add</button><br />
<script>
     function ShowAddPage() {
        //    clearTestCaseFields();
            $('#EditItem').css('display', 'block');
            $('#btn_Cancel_AddPage').css('display', 'block');
            $('#btn_showNewPage').css('display', 'none');
        }
  function loadPages() {
            $("#table_pages tbody tr").remove();
            var application_idnumber = getUrlVars()["application"];
            var tableRef = document.getElementById('table_pages').getElementsByTagName('tbody')[0];
            document.getElementById("nav_back").href="/ManageApplicationComponents.html?application=" + application_idnumber;
  }
</script>
</body>